/* ===============
        GLOBAL  
   =============== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #888;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 100vw;
    font-size: 16px;
    color: #4E6684;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Avoid the IE 10-11 `min-height` bug. */
}

main {
    margin: 0;
    padding: 0;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #888;
}

a:hover {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #19b9c5;
    text-decoration: none;
}
/* BUTTON STLYES */


.btn-primary {
    background-color: #19b9c5;
    border: 2px solid #19b9c5;
    font-size: 14px;
    min-width: 200px;
    border-radius: 0;
    color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.2);
    box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.2);
}

.btn-primary:hover {
    background-color: #888;
    border: 2px solid #888;
    font-size: 14px;
    min-width: 200px;
    color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.8);
    -moz-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.8);
    box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.8);
}

.btn-info {
    background-color: #4E6684;
    border: 2px solid #4E6684;
    font-size: 14px;
    min-width: 120px;
    border-radius: 0;
    -webkit-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.2);
    box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.2);
}

.btn-info:hover {
    background-color: #888;
    border: 2px solid #888;
    font-size: 14px;
    min-width: 80px;
    color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.8);
    -moz-box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.8);
    box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.8);
}

/* HEADER STYLES  */

.dropdown-item {
    color: #19b9c5;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-link {
    padding-left: 30px;
}

.dropdown-item:hover {
    color: #888;
}

.header-logo {
    height: 90px;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    display: inline;
    border-bottom: 2px solid #19b9c5;
}


/* JUMBOTRON STYLES  */

.jumbotron {
    color: white;
    background-image: url("../images/grad.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 10%;
    margin-bottom: 0;
}


.jumbotron-main-text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: 900;
    border-bottom: 4px solid #19b9c5;
    letter-spacing: 2px;
    color: white;
    text-align: center;

}

.jumbotron-subtext {
    padding-top: 40px;
    font-size: 18px;
    color: #4E6684;
    text-align: center;
}

#jumbo-zapp-logo {
    flex-direction: column;
    display: flex;
    align-items: center;
}


.jumbotron-logo {
    max-height: 100px;
}

.view-all {
    margin-top: 50px;
    justify-content: center;
    display: flex;

}
/* WRAPPER STYLES*/
.main-wrapper {
    padding: 50px;
    height: 100%;
}

h3 {
    display: inline;
}

/* Select a report CTA */
h5 {
    color: #4E6684;
    font-weight: bold;
}

.view-reports {
    padding: 20px;

}

.report-icons {
    color: #fff;
    /* background-color: white; */
}

.details {
    justify-content: center;
    display: flex;
}

.detail-link {
    font-size: 16px;
    /* font-weight: 22px; */
    color: #4E6684;
}

.detail-link:hover {
    font-size: 16px;
    /* font-weight: 22px; */
    color: #777777;
    text-decoration: none;
}

/* FOOTER STLYES  */
footer {
    position: sticky;
    max-height: 50px;

}

.footer-flex {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    color: #777777;
    font-size: 12px;

}

.fab {
    font-size: 20px;
    padding-left: 10px;
}

.fab:hover {
    font-size: 20px;
    padding-left: 10px;
}

.right {
    padding-right: 20px;
    display: flex;
}


/* ===============
      XS - X-SMALL  
      (portrait phones, less than 576px)
     =============== */
@media (max-width: 900px) {
    .dropdown {
        display: none;
    }

    .header-item {
        display: none;
    }

    .header-link {
        font-size: 12px;
    }

    .view-reports {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

